@import url('https://fonts.googleapis.com/css2?family=Work+Sans:wght@500&display=swap');
*{
    font-family: 'Work Sans', sans-serif;
}

body{
    margin: 0;
}
/* header */
header{
    background-image: url('./images/banner2.png');
    background-size: 100% 100%;
    height: 100vh;
    display: flex;
    justify-content: end;
    align-items: center;
}

.header-text{
    width: 525px;
    margin-right: 230px;
    text-align: right;
}

.header-text h1{
    font-size: 65px;
}

.header-text p{
    font-weight: 400;
    font-size: 16px;
    color: #444343;
}

button{
    height: 64px;
    padding: 20px 25px;
    border-radius: 5px;
}

.primary-btn{
    background-color: #F15B22;
    border: none;
    color: #fff;
    font-size: 20px;
    cursor: pointer;
}

/* main section 1 */
.failed{
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 130px 210px;
}

.failed > img{
    width: 570px;
}

.failed div{
    margin-left: 90px;
    width: 416px;
}

.failed div h2{
    font-size: 40px;
}

.failed div p{
    line-height: 26px;
    color: #444343;
}

.failed ul{
    color: #444343;
    list-style: none;
    padding: 0;
}

.failed li{
    margin-bottom: 10px;
}

.failed ul li::before{
    content: '✓ ';
    color: #16D887;
}

/* plans */
.plans h2, .instructions h2{
    text-align: center;
    font-size: 40px;
    margin-bottom: 50px;
}

.plans-container{
    display: flex;
    justify-content: center;
    gap: 85px;
    margin-left: 230px;
    margin-right: 230px;
}

.plan{
    text-align: center;
}

.plan h3{
    font-size: 30px;
}

.plan p{
    font-weight: 500;
    font-size: 25px;
    color: #737272;
}

/* mindset section */


.mindset{
    background-image: url('./images/watch.png'), url('./images/gradient3.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-blend-mode: overlay;
    height: 300px;
    display: flex;
    align-items: center;
    border-radius: 8px;
    margin: 125px 230px;
}

.mindset-text{
    margin-left: 64px;
    width: 560px;
    margin-bottom: 50px;
}

.mindset-text h2{
    font-size: 40px;
    color: #ffff;
}

.secondary-btn{
    background-color: #fff;
    border: none;
    color: #F15B22;
    font-size: 20px;
    cursor: pointer;
}

/* instructions section by me */
.instructions-container{
    margin-bottom: 100px;
    display: flex;
    justify-content: center;
    gap: 30px;
}

.instruction{
    width: 300px;
    height: 400px;
    color: #fff;
    font-size: 70px;
    padding: 15px;
    box-shadow: 10px 10px #F15B22;
}

#gift{
    background-image: url('./images/gift.jpg');
    background-size: cover;

}

#healthy{
    background-image: url('./images/healthy.jpg');
    background-size: cover;
}

#together{
    background-image: url('./images/together.jpg');
    background-size: cover;
}

.instructions p{
    text-align: center;
    margin: 70px 230px;
    color: #444343;
}

/* footer */
footer{
    background-color: #151414;
    display: flex;
    align-items: center;
    justify-content: space-around;
    height: 580px;
}

footer .info{
    color: white;
    /* margin-left: 230px; */
    width: 485px;
}

footer .info h2{
    font-size: 45px;
}

footer .info p{
    line-height: 26px;
    font-weight: 400;
    font-size: 16px;
}

.socials{
    margin-top: 32px;
}

.socials a{
    margin-right: 17px;
}

.subscribe h3{
    color: #ffff;
    font-size: 25px;
}

.subscribe form input{
    height: 24px;
    width: 325px;
    background-color:#151414;
    border: 1px solid #fff;
    border-radius: 8px;
    color: #fff;
    padding: 21px;
    font-size: 18px;
    margin-bottom: 16px;
}
